In [1]:
#from scripts import *

from scripts.default_imports import *

# user functions
from scripts.cleaning import *
from scripts.plotting import *
from scripts.topic_finding import *

print("imports done")

c:\Users\Ulrik\anaconda3\envs\intro-ai\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
c:\Users\Ulrik\anaconda3\envs\intro-ai\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"
c:\Users\Ulrik\anaconda3\envs\intro-ai\lib\site-packages\huggingface_hub\snapshot_download.py:6: FutureWarning: snapshot_download.py has been made private and will no longer be available from version 0.11. Please use `from huggingface_hub import snapshot_download` to import the only public function in this module. Other members of the file may be changed without a deprecation notice.
  warnings.warn(

GPUs detected:          1
Using GPU:              True
Device:                 cuda
Got model from pickle:  True

imports done

In [2]:
df = pd.read_csv("data/tensorflow.csv", on_bad_lines='skip')

print(df.shape)

df.head(3)

(32469, 7)

,commit,author_name,time_sec,subject,files_changed,lines_inserted,lines_deleted
0,8a428cdd35,ekelsen,1524782988,Merge-pull-request-18846-from-yongtang-04252018-FloorDiv-int8,NaN,NaN,NaN
1,ce733dc348,ekelsen,1524781964,Merge-pull-request-18881-from-ManHyuk-fix_typo,NaN,NaN,NaN
2,5cd6a8d1ed,ekelsen,1524781835,Merge-pull-request-18907-from-yongtang-18363-mpi,NaN,NaN,NaN

In [3]:
df.isna().sum()

commit               0
author_name          0
time_sec             0
subject              0
files_changed     3324
lines_inserted    4294
lines_deleted     7857
dtype: int64

We are intending to use the `subject` field as a temporary substitue of `categoryRaw` which we will get from the schibsted data

In [4]:
# if your computer does not have GPU support, you can use a sample of the dataset instead to make it run in a reasonable time
if device == "cpu": df = df.sample(frac=0.05)

print(df.shape)

df.head(3)

(32469, 7)

,commit,author_name,time_sec,subject,files_changed,lines_inserted,lines_deleted
0,8a428cdd35,ekelsen,1524782988,Merge-pull-request-18846-from-yongtang-04252018-FloorDiv-int8,NaN,NaN,NaN
1,ce733dc348,ekelsen,1524781964,Merge-pull-request-18881-from-ManHyuk-fix_typo,NaN,NaN,NaN
2,5cd6a8d1ed,ekelsen,1524781835,Merge-pull-request-18907-from-yongtang-18363-mpi,NaN,NaN,NaN

In [5]:
df["subject_clean"] = df["subject"].apply(string_cleaner)

df.head(5)

,commit,author_name,time_sec,subject,files_changed,lines_inserted,lines_deleted,subject_clean
0,8a428cdd35,ekelsen,1524782988,Merge-pull-request-18846-from-yongtang-04252018-FloorDiv-int8,NaN,NaN,NaN,mergepullrequest18846fromyongtang04252018floordivint8
1,ce733dc348,ekelsen,1524781964,Merge-pull-request-18881-from-ManHyuk-fix_typo,NaN,NaN,NaN,mergepullrequest18881frommanhyukfix_typo
2,5cd6a8d1ed,ekelsen,1524781835,Merge-pull-request-18907-from-yongtang-18363-mpi,NaN,NaN,NaN,mergepullrequest18907fromyongtang18363mpi
3,d0b961306a,ekelsen,1524781628,Merge-pull-request-18896-from-KikaTech-fix_lite_topk,NaN,NaN,NaN,mergepullrequest18896fromkikatechfix_lite_topk
4,1bf9ec7f85,Yong Tang,1524775671,Fix-cmake-build-issues-with-GPU-on-Linux-18775,4.0,17.0,1.0,fixcmakebuildissueswithgpuonlinux18775

In [6]:
embs = model.encode(df["subject_clean"].to_numpy())